* {
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

.navigation {
	width: 100%;
	position: fixed;
	background: RGBa(0, 0, 0, 0.9);
	text-align: center;
	z-index: 10000;
}

.navigation li{
	display: inline-block;
	margin: 20px;
}

a{
	font-family: 'Quicksand', sans-serif;
}

a:link {
	text-decoration: none;
	color: #FF2C00;
}

a:visited {
	text-decoration: none;
	color: #E8440C;
}

a:hover {
	text-decoration: underline;
	color: #E81F0C;
}

.heading_box {
	background: url("Grand_Canyon_Self_Portrait2.JPEG") no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	margin: 0px;
	height: 500px;
	width: 100%;
}

h1 {
	float: right;
	margin: 150px 100px 0px 100px;
}

.header {
	box-sizing: border-box;
	text-align: center;
}

#logo {
	box-sizing: border-box;
	color: #E81F0C;
	font-family: 'Lobster', cursive;
	font-size: 20px;
}

.body_photos_box {
	background: RGBa(0,0,0,0.9);
	margin: 0 auto;
}

#recents_header {
	margin: 0 auto;
	padding: 7px;
	width: 360px;
	height: 40px;
	border-bottom: 3px solid #E81F0C;
	border-radius: 3px;
	text-align: center;
	color: #E81F0C;
	font-family: 'Quicksand', sans-serif;
	font-size: 32px;
}

.recent_photos_box {
	text-align: center;
}

.recent_photos {
	object-fit: cover;
	display: inline-block;
	margin: 20px 15px 20px 15px;
	padding: 0px;
	width: 250px;
	height: 250px;
	border: 5px solid white;
	border-radius: 100%;
}

.body_news_box {
	background-color: RGBa(0,0,0,0.9);
	text-align: center;
}

#news_header {
	margin: 0 auto;
	padding: 7px;
	width: 100px;
	height: 40px;
	border-bottom: 3px solid #E81F0C;
	border-radius: 3px;
	text-align: center;
	color: #E81F0C;
	font-family: 'Quicksand', sans-serif;
	font-size: 32px;
}

.news_box {
	display: inline-block;
	margin: 20px;
	text-align: center;
	width: 50%;
}

#news_text {
	word-wrap: break-word;
}
